#title {}

body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 50px;
}

h1, h2, h3, p {
  font-family: 'Manjari', sans-serif;
  color: #ffffff;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

hr {
  border: dotted #000000 6px;
  border-bottom: none;
  width: 5%;
  margin: 50px auto 50px auto;
}

a {
  color: #ffffff;
  font-family: Manjari;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

.container-fluid {
  position: relative;
}

.imageStyles {
  opacity: 0.97;
}

.Intro {
  font-size: 30px;
  color: #ffffff
}

.Intro-Text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

#AboutMe {}

.Biography {
  padding: 15% 10%;
  background-color: #222831;
}

.Section-Titles {
  position: absolute;
  text-align: left;
  padding-top: 6%;
  padding-left: 10%;
}

.profile-pic {
  width: 80%;
  height: auto;
  border-radius: 50%;
  position: absolute;
  left: 0px;

}

@media (max-width: 1000px) {
  .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    position: relative;
    bottom: 20px;
  }
}

.introduction {
  font-family: 'Manjari', sans-serif;
  color: #ffffff;
  font-size: 1.2rem;
}

.carousel-item {
  background-color: #000000;
}
